      
/* 半透明背景层 */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/649257d44c8e30c4110928390ac67ec.jpg);     
    backdrop-filter: blur(30px);
    background-color: #f8d170b5 ;
    background-blend-mode: overlay; /* 可选模式：multiply, screen, overlay 等 */
    background-size: cover;
    background-repeat: 832px;
}
/* 导航栏 */
.nav-container {
    width: 100%;
    height: 79px;
    background-color: #e1c89b;
    padding: 15px 0;
    position: relative;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

/* 定义字体 */
@font-face {
    font-family: 'ziti';
    src: url('../unload/font.ttf') format('truetype');
    font-weight: 400;    /* 普通粗细 */
    font-style: normal;
    font-display: swap;   /* 优化加载体验 */
}


.nav-item {
    margin: 0 25px;
    position: relative;
    /* 点击时有阴影 */
    cursor: pointer;
    transition: text-shadow 0.3s; /* 平滑过渡 */
}

/* 点击后保持效果 */
.nav-item.active {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.nav-link {
    color: #000000;
    text-decoration: none;
    font-family:'ziti' ;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    padding: 5px 10px;
    letter-spacing: 2px;
}
        
.book {
  width: 800px;
  height: 500px;
  position: relative;
  perspective: 2000px; /* 3D透视 */
  margin: 130px 430px;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #f5e9d2; /* 纸张底色 */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 1s;
  transform-style: preserve-3d;
  background-size: cover;
}

.left-page {
  left: 0;
  transform-origin: right center;
}

.right-page {
  right: 0;
  transform-origin: left center;
}

/* 阴影 */
.page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1);
}

/* 书中内容 */
.left-page img{
  width: 287px;
  height: 216px;
  margin: 36px 55px;
}
.right-page img{
  width: 400px;
  height: 360px;
  margin-top: 192px;
}
.left-page div{
  width: 285px;
  height: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  margin: 3px 55px;
  color: #000000;
}
.left-page .left-image2{
  width: 300px;
  height: 220px;
  background-image: url(../images/画2.png);
  background-repeat: no-repeat;
  background-size: 229.39px 172.04px;
  margin: 45px 75px 52px;
}

.left-page .word2{
  width: 285px;
  height: 150px;
  font-weight: 500;
  line-height: 50px;
  margin: 30px 65px;
}
